<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-left: 10%">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/book/findall}">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{'/author/index'}">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{'/publisher/findall'}">Publishers</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">
    <form th:object="${author}" method="post">
        <input type="hidden" th:field="*{id}" name="id">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>First Name</label>
                <input type="text" class="form-control" th:field="*{firstName}" placeholder="...">
                <p th:if="${#fields.hasErrors}" th:errors="*{firstName}">error</p>
            </div>
            <div class="form-group col-md-6">
                <label>Last Name</label>
                <input type="text" class="form-control" th:field="*{lastName}" placeholder="...">
                <p th:if="${#fields.hasErrors}" th:errors="*{lastName}">error</p>
            </div>
        </div>
        <div>
            <button th:with="text=${author.id} == null" th:text="${text} ? 'Create New Author' : 'Update Author'" type="submit" class="btn btn-primary" >Process</button>
        </div>
    </form>
</div>

</body>
</html>